<!-- Original code
<div class="root">

<div class="container">

  <div class="container-right">
  <form [formGroup]="createAccountForm" (ngSubmit)="createAccount()">
  <h1> Register </h1>
    <p>First name:</p>
      <mat-form-field appearance="fill">
        <mat-label>Enter first name</mat-label>
        <input matInput formControlName="firstName">
      </mat-form-field>

    <p>Last name:</p>
    <mat-form-field appearance="fill">
      <mat-label>Enter last name</mat-label>
      <input matInput formControlName="lastName">
    </mat-form-field>
    <p>Date of birth:</p>
    <mat-form-field appearance="fill">
      <mat-label>Enter date of birth</mat-label>
      <input matInput type="date" formControlName="dateOfBirth">
    </mat-form-field>
    <p>Email:</p>
    <mat-form-field appearance="fill">
      <mat-label>Enter email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    <p>Password</p>
    <mat-form-field appearance="fill">
      <mat-label>Enter password</mat-label>
      <input matInput formControlName="password" type="password">
    </mat-form-field>
    <div mat-dialog-actions class="buttonContainer">
    <button mat-raised-button color="primary" type="submit">Create account</button>
    <button mat-raised-button color="primary" (click)="onCancel()">Cancel</button>
    </div>
  </form>

  </div>

  <div class="container-left">
    <img src="assets/img/expense-guide-1.png" alt="expense guide"/>
  </div>

</div>

</div>

-->

<!-- Attempt 1

<div class="container">
  <div class="container-left">
    <div class="create-account-image">
      <img src="assets/img/createAccount.png">
    </div>
  </div>
  <div class="container-right">
    <div class="title">
    Register
  </div>
  <div class="subtitle">
    Sign up to manage your budget much easier and get a quick overview on your expenses
  </div>
  <div style="display:flex;">
    <div>
      <form [formGroup]="createAccountForm">
        <div class="group-field">
          <div class="form-item field-text">
            First Name
          </div>
          <div>
            <input class="input" formControlName="firstName" id="firstName" type="text" placeholder="FirstName">
          </div>
        </div>
        <div class="group-field">
          <div class="form-item field-text">
            Last Name
          </div>
          <div>
            <input class="input" formControlName="lastName" id="lastName" type="text" placeholder="LastName">
          </div>
        </div>
        <div class="group-field">
          <div class="form-item field-text">
            Date Of Birth
          </div>
          <div>
            <input class="input" formControlName="dateOfBirth" id="dateOfBirth" type="date">
          </div>
        </div>
        <div class="group-field">
          <div class="form-item field-text">
            Email
          </div>
          <div>
            <input class="input" formControlName="email" id="email" type="text" placeholder="Email">
          </div>
        </div>
        <div class="group-field">
          <div class="form-item field-text">
            Password
          </div>
          <div>
            <input class="input" formControlName="password" id="password" type="text" placeholder="password">
          </div>
        </div>
      </form>
      <div class="button">
        <button class="submit-btn" type="button" (click)="createAccount()">
          Create Account
        </button>
      </div>

  </div>

</div>
</div>
-->

<!--Attempt 2 (final)-->

<div class="root">
  <div class="container-main">
    <div class="container-left">
      <img src="assets/img/createAccount.png" >
    </div>
    <div class="container-right">
      <div class="title">
        Register
      </div>
      <div class="subtitle">
        Sign up to manage your budget much easier and get a quick overview on your expenses
      </div>
      <div>
        <div class="container-center-column">
          <form [formGroup]="createAccountForm">
            <div class="container-center-row-fields">
              <div class="container-center-column">
                <div class="field-text">
                  <label for="firstName">First name</label>
                  <input style="height:30px"  formControlName="firstName" id="firstName" type="text" placeholder="First name">
                </div>
              </div>
              <div class="container-center-column">
                <div class="field-text">
                  <label for="lastName">Last name</label>
                  <input style="height:30px" formControlName="lastName" id="lastName" type="text" placeholder="Last name">
                </div>
              </div>
            </div>
            <div class="container-center-row-fields">
              <div class="container-center-column">
                <div class="field-text">
                  <label for="email">Email</label>
                  <input style="height:30px" formControlName="email" id="email" type="text" placeholder="E-mail">
                </div>
              </div>
              <div class="container-center-column">
                <div class="field-text">
                  <label for="dateOfBirth" style="margin-left: 3rem">Date of birth</label>
                  <input style="height:30px; margin-left: 1.85rem; width: 190px" formControlName="dateOfBirth" id="dateOfBirth" type="date">
                </div>
              </div>
            </div>
            <div class="center-row-fields">
              <div class="field-text">
                <label for="password">Password</label>
                <input style="height:30px;width:425px" formControlName="password" id="password" type="password" placeholder="Password">
              </div>
            </div>
            <div class="center-row-fields">
              <div class="field-text">
                <label>Confirm password</label>
                <input style="height:30px;width:425px;" formControlName="confirmPassword" id="confirmPassword" type="password" placeholder="Confirm password">
              </div>
            </div>
          </form>
          <div class="button">
            <button class="create-account-button" type="button" (click)="createAccount()">
              Create Account
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
