<div class="container" >
  <div class="title">
    <img *ngIf="isWishListItem&&!isItemAffordable" class="exclamation-icon" src="../../assets/ic-exclamation.png"
         matTooltip="Based on your previous purchases, you can't afford this item"
         matTooltipPosition="above"
         matTooltipClass="exclamation-tooltip"
    />
    <div class="text"> {{ title }} </div>
    <img *ngIf="isWishListItem" class="icon" src="../../assets/ic_buy_white.png"/>
  </div>
  <div class="content">
    <div class="left">
      <img id="action" class="image" [src]="image_src" alt="Image not available" (click)="goToLink()"/>
    </div>
    <div class="right">
      <p class="price">{{ price }} Lei</p>
      <div class="affordable_tag" *ngIf="isItemAffordable">affordable</div>
      <img *ngIf="vendor_src !== ''" id="vendor" class="image_vendor" [src]="vendor_src" alt="action image"/>
    </div>
  </div>
  <div class="buttons">
    <button class="left_button" *ngIf="!isShowCompetitorMode">Show Competitor</button>
    <button class="right_button" *ngIf="!isWishListItem" (click)="addItemInWishlist()">Add To Wishlist</button>
    <button class="right_button" *ngIf="isWishListItem" (click)="openModal()">Remove</button>
  </div>
</div>
<div *ngIf="showModal==true" class="modal-container">
  <div class="custom-item-modal">
    <div class="success-message">
      Item added successfully to your wishlist!
    </div>
  </div>
</div>
