<div class="container">
  <div class="title">
    <img *ngIf="isWishListItem && !isItemAffordable" class="exclamation-icon" src="../../assets/ic-exclamation.png"
         matTooltip="Based on your previous purchases, you can't afford this item"
         matTooltipPosition="above"
         matTooltipClass="exclamation-tooltip"
    />
    <div class="text"> {{ title }} </div>
    <img *ngIf="isWishListItem" class="icon" (click)="purchaseConfirmationModal = true"src="../../assets/ic_buy_white.png"/>
  </div>
  <div class="content">
    <div class="left">
      <img id="action" class="image" [src]="image_src" alt="Image not available" (click)="goToLink()"/>
    </div>
    <div class="right">
      <p class="price">{{ price }} Lei</p>
      <div class="affordable_tag" *ngIf="isItemAffordable">affordable</div>
      <img *ngIf="vendor_src !== ''" id="vendor" class="image_vendor" [src]="vendor_src" alt="action image"/>
    </div>
  </div>
  <div class="buttons">
    <button class="left_button" *ngIf="!isShowCompetitorMode">Show Competitor</button>
    <button class="right_button" *ngIf="!isWishListItem" (click)="addItemInWishlist()">Add To Wishlist</button>
    <button class="right_button" *ngIf="isWishListItem" (click)="openModal()">Remove</button>
  </div>
</div>
<div *ngIf="purchaseConfirmationModal==true" class="modal-container">
  <div class="custom-item-modal">
    Hello
  </div>
  
</div>

<div *ngIf="purchaseConfirmationModal === true" class="modal-container">
  <div class="custom-item-modal">
    <div class="title-modal">
      Purchase this item</div>
    <div class="content-modal" *ngIf="purchased==false">
      <form [formGroup]="form">
        <div class="group-field">
          <div class="form-item field-text">
            Amount
          </div>
          <div>
            <input class="input" formControlName="amount" id="amount" type="number" [ngModel]="this.price">
          </div>
        </div>
        <div class="group-field">
          <div class="form-item field-text">
            Date
          </div>
          <div>
            <input class="input" type="date" formControlName="date" [ngModel]="this.formDate" (ngModelChange)="this.formDate = $event">
          </div>
        </div>
        <div class="group-field">
          <div class="form-item field-text">
            Category
          </div>
          <div>
            <select class="input" id="category" name="categoryDropdown" formControlName="category"
              style="width: 258px;" [ngModel]="this.defaultCategory">
              <option style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"
                value='{{expenseCategory[category]}}' 
                *ngFor="let category of categories">
                {{expenseCategory[category]}}
              </option>
            </select>
          </div>
        </div>
      </form>
      <div class="buttons_modal">
        <button class="cancel-btn" type="button" (click)="cancel()">
          Cancel
        </button>
        <button class="submit-btn" type="button" (click)="purchaseItem()">
          Save
        </button>
      </div>
    </div>
    <div class="success-message" *ngIf="purchased==true">
      Item marked successfully as purchased <br/>
      Added a new expense
    </div>
  </div>
</div>

<div *ngIf="showModal==true" class="modal-container">
  <div class="custom-item-modal">
    <div class="success-message">
      Item added successfully to your wishlist!
    </div>
  </div>
</div>
