.tabs {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.tab-headers {
  width: 75%;
  height: 3rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.tab-header {
  background-color: white;
  width: 10rem;
  text-align: center;
  padding: 1rem;
  border-radius: 20px 20px 0 0;
  color: gray;
}

.tab-header:hover {
  cursor: pointer;
}

.selected-tab {
  color: black;
  font-weight: bold;
}

.selected-tab .icon-add {
  filter: invert(0%);
}

.selected-tab .icon-edit {
  filter: invert(0%);
}

.icon-add {
  height: 1rem;
  filter: invert(40%);
  margin-right: 0.5rem;
}

.icon-edit {
  width: 1rem;
  filter: invert(40%);
  margin-right: 0.5rem;
}

.tab-content {
  width: 75%;
}
