<h1 mat-dialog-title>Update expense</h1>
<div mat-dialog-content>
  <form id="filter-area">
    <div class="field-group">
      <p class="field-description">
        Category
      </p>
      <select (ngModelChange)="data.category = $event" [ngModelOptions]="{standalone: true}" [ngModel]="data.category"
              class="field-input">
        <option class="option" value="All">
          All
        </option>
        <option *ngFor="let category of categories" class="option" value="{{expenseCategory[category]}}">
          {{expenseCategory[category]}}
        </option>
      </select>
    </div>
    <div class="field-group">
      <p class="field-description">
        Date
      </p>
      <input (ngModelChange)="data.date = $event" [ngModelOptions]="{standalone: true}" [ngModel]="data.date" class="field-input"
             type="date">
    </div>
    <div class="field-group">
      <p class="field-description">
        Amount
      </p>
      <input (ngModelChange)="data.amount = $event" [ngModelOptions]="{standalone: true}" [ngModel]="data.amount" class="field-input"
             type="number">
    </div>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button (click)="onCancel()" mat-button>Cancel</button>
  <button (click)="onSave()" cdkFocusInitial mat-button>Save</button>
</div>
