<div class="container">
  <div class="subtitle">Welcome to your expense manager!</div>
  <div class="gray-text">
    An application for expense management becomes useful when a person without much financial knowledge is interested in better organizing their expenses and 
    personal budget, and wants to do so anywhere, anytime and in a very fast way. The ExPlus app is aimed primarily at adults who want to have better control and insight into personal spending, but can also be a useful tool for teens, 
    and can help them learn good personal budget management skills in advance.
  </div>
  <div class="cards">
    <dashboard-card
      action_title="ADD EXPENSE"
      image_src="assets/img/add-expense.jpg"
      action_route="/expense-management">
    </dashboard-card>

    <dashboard-card 
      action_title="ADD MONTHLY BUDGET"
      image_src="assets/img/budget-route.png"
      action_route="/budget-management">
    </dashboard-card>

    <dashboard-card
      action_title="VIEW STATISTICS"
      image_src="assets/img/bar-chart.png"
      action_route="/statistics">
    </dashboard-card>

    <dashboard-card
      action_title="VIEW WISHLIST"
      image_src="assets/img/wishlist-img.jpg"
      action_route="/wishlist-view">
    </dashboard-card>

  </div>
</div>
