html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #E3EAEB;
  display: block;
}

app-root {
  height: 100%;
}

.snackbar {
  background: rgb(255, 49, 49);
  color: white;
}