<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container">
  <div class="subtitle">
    <p class="p-text">Add To Your Wishlist</p>
  </div>
  <form [formGroup]="form">
    <div class="group-field">
      <div class="form-item field-text">
        Search
      </div>
      <div>
        <input class="input" formControlName="item" id="item" type="search">
      </div>
      <div class="search-icon">
        <img style="width: 2rem;" src="assets/ic_search.png" (click)="searchItems()">
        <img style="margin-left: 0.5rem; width: 2rem;" src="assets/ic-add.png" (click)="showCustomModal=true">
      </div>
    </div>
  </form>
  <div class="cards">
    <div class="item" *ngFor="let item of searchResult">
      <item-wishlist title={{item.title}} image_src={{item.image}} link={{item.link}} [price]="item.price"
        vendor={{item.vendor}} [isShowCompetitorMode]="false" [isWishListItem]="false" [isItemAffordable]="false">
      </item-wishlist>
    </div>
  </div>
</div>
<div *ngIf="showCustomModal==true" class="modal-container">
  <div class="custom-item-modal">
    <div class="title-modal">
      Add Custom Item </div>
    <div class="content-modal" *ngIf="saved==false">
      <form [formGroup]="itemForm">
        <div class="group-field">
          <div class="form-item field-text">
            Title
          </div>
          <div>
            <input class="input" formControlName="title" id="title" type="text" placeholder="ex: Watch">
          </div>
        </div>
        <div class="group-field">
          <div class="form-item field-text">
            Price
          </div>
          <div>
            <input class="input" type="number" formControlName="price" placeholder="ex: 2000">
          </div>
        </div>
        <div class="group-field">
          <div class="form-item field-text">
            Link
          </div>
          <div>
            <input class="input" formControlName="link" id="link" type="text"
              placeholder="ex: https://www.apple.com/ro/watch/">
          </div>
        </div>
      </form>
      <div class="buttons">
        <button class="cancel-btn" type="button" (click)="cancel()">
          Cancel
        </button>
        <button class="submit-btn" type="button" (click)="addCustomItem()">
          Save
        </button>
      </div>
    </div>
    <div class="success-message" *ngIf="saved==true">
      Item added successfully to your wishlist!
    </div>
  </div>
</div>
