<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container">
  <div class="subtitle">
    <p class="p-text">Add To Your Wishlist</p>
  </div>
    <form [formGroup]="form">
      <div class="group-field">
        <div class="form-item field-text">
          Search
        </div>
        <div>
          <input class="input" formControlName="item" id="item" type="search">
        </div>
        <div class="search-icon">
          <img style="width: 2rem;" src="assets/ic_search.png" (click)="searchItem()">
        </div>
      </div>
    </form>
    <div class="cards">
      <div class="item">
        <item-wishlist 
        title="IPhone 12"
        image_src="assets/iphone_example.png"
        link="https://altex.ro/telefon-apple-iphone-12-5g-64gb-black/cpd/SMTIP126BK/"
        [price]="3999.90"
        vendor="Altex"
        [isShowCompetitorMode]="false"
        [isWishListItem]="false"
      >  </item-wishlist>
      </div>
      <div class="item">
        <item-wishlist 
        title="IPhone 12"
        image_src="assets/iphone_example.png"
        link="https://altex.ro/telefon-apple-iphone-12-5g-64gb-black/cpd/SMTIP126BK/"
        [price]="3999.90"
        vendor="CEL"
        [isShowCompetitorMode]="false"
        [isWishListItem]="false"
      >  </item-wishlist>
      </div>
      <div class="item">
        <item-wishlist 
        title="IPhone 12"
        image_src="assets/iphone_example.png"
        link="https://altex.ro/telefon-apple-iphone-12-5g-64gb-black/cpd/SMTIP126BK/"
        [price]="3999.90"
        vendor="Others"
        [isShowCompetitorMode]="false"
        [isWishListItem]="false"
      >  </item-wishlist>
      </div>
      <div class="item">
        <item-wishlist 
        title="IPhone 12"
        image_src="assets/iphone_example.png"
        link="https://altex.ro/telefon-apple-iphone-12-5g-64gb-black/cpd/SMTIP126BK/"
        [price]="3999.90"
        vendor="CEL"
        [isShowCompetitorMode]="false"
        [isWishListItem]="false"
      >  </item-wishlist>
      </div>
    </div>
</div>