<div class="container-main">
  <h1>View all of your expenses from a certain period of time, grouped by day/month/year</h1>

  <div class="container-wrapper">

    <div class="container-column">
      <form [formGroup]="datesForm">
        <label class="label-field" for="granularity">Group expenses by: </label>
        <select formControlName="granularity" id="granularity">
          <option value="day">Day</option>
          <option value="month">Month</option>
          <option value="year">Year</option>
        </select>

        <label class="label-field" for="categories">Category: </label>
        <select class="input" id="categories" formControlName="categories">
          <option *ngFor="let cat of allCategories" [value]="cat">{{cat}}</option>
        </select>

        <label class="label-field" for="startDate">Start date: </label>
        <input type="date" formControlName="startDate" id="startDate">

        <label class="label-field" for="endDate">End date: </label>
        <input type="date" formControlName="endDate" id="endDate">

        <button class="create-account-button" type="button" (click)="getStatistics()">
          Show expenses
        </button>
      </form>
    </div>

    <div class="container-column">
      <app-chart-line [statistics]="statistics" [granularity]="granularity.value"></app-chart-line>
    </div>
  </div>

</div>
