<script src="wishlist-view.component.ts"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container">
  <div class="subtitle">
    <p class="p-text">Your Wishlist</p>
  </div>
  <form [formGroup]="form">
    <div class="group-field">
      <div class="form-item field-text">
        Search
      </div>
      <div>
        <input class="input" formControlName="item" id="item" type="search">
      </div>
      <div class="search-icon">
        <img style="width: 2rem;" src="assets/ic_search.png" (click)="searchItem()">
      </div>
    </div>
  </form>
  <div class="cards">
    <div class="item" *ngFor="let item of wishlistItems">
      <item-wishlist title={{item.title}} image_src={{item.image}} link={{item.link}}
                     [price]="item.price"
                     vendor={{item.vendor}}
                     [isShowCompetitorMode]="false"
                     [isWishListItem]="true"
                     [isItemAffordable]="item.affordable"
                     (openModalEvent)="openModal(item)"
      >
      </item-wishlist>
    </div>

    <div *ngIf="showModal == true" class="modal">
        <p class="message-modal"> Are you sure you want to remove this item from wishlist?</p>
        <div class="buttons">
          <button class="cancel-btn" type="button" (click)="cancel()">
            No
          </button>
          <button class="submit-btn" type="button" (click)= "removeFromWishlist()">
            Yes
          </button>
        </div>
    </div>
  </div>
</div>
